{% extends 'guibai.html' %}
{#{% load crispy_forms_tags %}#}
{% block field %}
    <style>
        .loading-bar{
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url('http://i.stack.imgur.com/FhHRx.gif');
            background-position: 50% 50%;
            background-color: rgba(255,255, 255, 0.8);
            background-repeat: no-repeat;
        }
        body.loading{
            overflow: hidden;
        }
        body.loading .loading-bar{
            display: block;
        }
    </style>
    <div class="loading-bar"></div>
    <form action="" id="formsosanh" style="margin-bottom: 20px; margin-top: 25px" method="POST">
        {% csrf_token %}
        <label>Chọn Lĩnh vực</label>
        <select id="sslinhvuc">
        <option value="0">--- Vui lòng chọn lĩnh vực ---</option>
            {% for item in linhvuc %}
                <option value="{{ item.lv_ma }}">{{ item.lv_ten }}</option>
            {% endfor %}
        </select>
        <label>Chọn Ngôn ngữ: </label>
            <select id="ssngonngu" style="width: 40%">
                <option value="1">Tiếng anh</option>
                <option value="2">Tiếng việt</option>
            </select>
        <label>Ngưỡng kiểm tra: </label>
        <input type="text" id="txtNguongSS" value="" style="width: 30%"/>
        <label>Chọn File</label>
            <select id="ssFile">
            </select>
        <textarea class="form-control" id="txtKetqua" rows="9"></textarea>
        <button type="button" id="btnSosanh" class="btn btn-primary" style="float: right">Xử lý</button>
    </form>
{% endblock %}